# Poolsy Frontend Environment Variables

# The URL of the Poolsy backend API
# Local development example: http://127.0.0.1:5000
# Production example: https://api.poolsy-app.com
VITE_API_URL=http://127.0.0.1:5000
